{% include "header.html" %}

<div class="chooser text-center">
  <h2>Collinear Partial Dependency Plot</h2>
</div>

<div class="canvas" style="margin: 0 auto; width: 580px;">
  <p>
    Use this application to generate a custom partial dependency plots for
    a variable that has a collinear relationship with other variables in your model.
  </p> 
  <p>
    Once generated, the plots will be saved in the folder <b>/static</b>
    and reused if you request them again. The file name will be as follows:
  </p>
  <pre>
   PRJECT_ID-MODEL_ID-FOCUS_COLNAME-COLONE_NAME-COLTWO_NAME.png
  </pre>
  <p>
    If you want to regenerate an existing plot (for the same variable and model)
    using an alternative dataset you will need to delete the old version.
  </p> 
</div>

{% include "footer.html" %}
